readfile/src/main/mule/readfile.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d24bec74-2f13-4872-a4a8-b8d279809279" >
		<http:listener-connection host="localhost" port="5050" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="c5dd88fa-e437-467a-8a5b-ab69d7444483" />
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="bc478183-27a5-4710-b59c-5d875bb173a0" >
		<http:listener-connection host="0.0.0.0" port="5050" />
	</http:listener-config>
	<file:config name="File_Config1" doc:name="File Config" doc:id="febf9c06-b827-4ef2-ae06-53b9d047c9ad" />
	<http:listener-config name="HTTP_Listener_config2" doc:name="HTTP Listener config" doc:id="ab260b2b-4a17-4714-8ee2-294aaff10d0e" >
		<http:listener-connection host="localhost" port="8020" />
	</http:listener-config>
	<file:config name="File_Config2" doc:name="File Config" doc:id="7dfdfef3-1447-4b93-bd5d-103c97ee8507" />
	<flow name="readfileFlow" doc:id="0d52b3a1-20fe-4290-a16a-bd0ac48b49f9" >
		<http:listener doc:name="Listener" doc:id="dc0ac49d-573b-4bf5-93ad-a0a6959d66f2" config-ref="HTTP_Listener_config2" path="/mule"/>
		<logger level="INFO" doc:name="Logger" doc:id="ef534bd9-31a5-48d8-8aeb-a24878a18609" message="#[payload]"/>
		<file:read doc:name="Read" doc:id="82908ab1-d9ad-4687-873a-9416fb06eb33" config-ref="File_Config2" path="C:\Users\Dell\Desktop\abc\input\mule.txt"/>
		<ee:transform doc:name="Transform Message" doc:id="74355929-af10-4619-9920-68564ef09ad0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
